* {
  color: white;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 20px;
}

input[type="submit"] {
  background-color: #fdb44b;
  color: #005792;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  font-size: 28px;
  font-weight: 700;
}

::placeholder {
  color: white;
  font-size: 20px;
}
input[type="submit"]:hover {
  background-color: #005792;
  color: #fdb44b;
}

input:focus {
  outline: none !important;
}

.main-form-body {
  height: 100vh;
}

.signUp-logIn-container {
  background: #005792;
  border: 1px solid white;
}

.signUp-logIn-shop-name {
  font-size: 3.5rem;
}

.signUp-logIn-page {
  background: #fdb44b;
}

.signUp-logIn-text {
  font-size: 18px;
}

.signUp-logIn-link-text {
  color: #fdb44b;
  text-decoration: underline;
  cursor: pointer;
}
/* =============checkbox================ */
/* The checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #fdb44b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 7px;
  width: 7px;
  height: 12px;
  border: solid #005792;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.signUpLoginToggle{
    border: 1px solid #fdb44b;
    padding: 5px;
    font-size: 22px;
}

.clicked{
    color: #005792;
    background: #fdb44b;
}

#sign-up-area{
    display: none;
}